body {
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}
.container{
  border: 1px solid rgb(219, 219, 219);
  border-radius: 10px;
  width: 250px;
  height: 250px;
  margin: 130px, auto;
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  color: black;

}
.btn {
  background-color: whitesmoke;
  border: 2px solid rgb(233, 233, 233);
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.board{
  width: 200px;
  margin: 20px, auto;
}
li{
  text-decoration: none;
  list-style: none;
}