body {
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}
.container{

  border: 1px solid rgb(219, 219, 219);
  border-radius: 10px;
  width: 250px;
  height: 250px;
  margin: 15px;
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  color: black;

}
.btn {
  background-color: rgb(248, 222, 222);
  border: 2px solid rgb(199, 132, 132);
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.board{
  width: 200px;
  margin: 20px, auto;
}
li{
  text-decoration: none;
  list-style: none;
}

.button{
  margin: 15px;
  padding: 16px;
  background-color: rgb(199, 132, 132);
  color: aliceblue;
  font-weight: 400;
  border-radius: 10px;
  font-size: 15px;
  border: none;
  letter-spacing: 4px;
  font-family: 'Montserrat', sans-serif;
}

.winner{
  font-weight: 600;
  font-size: 20px;
  margin: 15px;
}